/* Padding */
.p-10 {
  padding: 10px;
}
.p-20 {
  padding: 20px;
}
.pt-20 {
  padding-top: 20px;
}
 
/* Margin */
.m-20 {
  margin: 20px;
}
.mt-0 {
  margin-top: 0;
}

/* BG Color */
.bg-eee {
  background-color: #eee;
}
.bg-white {
  background-color: white;
}

/* Color */
.c-black {
  color: black;
}

/* Flex */
.d-flex {
  display: flex;
}
.align-center {
  align-items: center;
}

.p-relative {
  position: relative;
}


/* Font */
.text-c {
  text-align: center;
}

.fs-14 {
  font-size: 14px;
}
/* Border */
.rad-6 {
  border-radius: 6px;
}

/* Mobile Style */
@media (max-width: 767px) {
  .hide-mobile {
    display: none;
  }
}

