:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}

* {
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;

  --main-color: ;
}

body {
  margin: 0;
}
*:focus {
  outline: none;
}
a {
  text-decoration: none;
}

.page {
  min-height: 100vh;
  background-color: #f1f5f9;
}
ul {
  list-style: none;
  padding: 0;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue-color, #0075ff);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color, #0d69d5);
}

/* Section Sidebar */

aside {
  box-shadow: 0 0 10px #ddd;
  width: 200px;
}
aside > h3 {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  aside > h3::before,
  aside > h3::after {
    content: "";
    background-color: black;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  aside > h3::before {
    width: 80px;
    height: 2px;
    bottom: -10px;
  }
  aside > h3::after {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 4px solid white;
    bottom: -19px;
  }
}

aside ul li a {
  transition: 0.3s;
  margin-bottom: 5px;
}

@media (max-width: 767px) {
  aside ul li a {
    flex-direction: column;
  }
}

aside ul li a span {
  font-size: 14px;
  margin-left: 10px;
}
aside ul li a:hover,
aside ul li a.active {
  background-color: #f6f6f6;
}

@media (max-width: 767px) {
  aside {
    width: 62px;
  }
  aside > h3 {
    font-size: 13px;
    margin-bottom: 20px;
  }
}
/* Section Content */
.content {
}
.head {
  box-shadow: 0 1px 10px #ddd;
}
.head .search::before {
  position: absolute;
  font-family: var(--fa-style-family-classic);
  content: "\f002";
  font-weight: 900;
  font-size: 14px;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--grey-color, #888);
}
.head input[type="search"] {
  margin-left: 5px;
  padding-left: 30px;
  width: 160px;
  transition: width 0.3s;
}
.head input[type="search"]:focus {
  width: 200px;
}
.head input[type="search"]:focus::placeholder {
  opacity: 0;
}

.head .icons .notification::before {
  background-color: var(--red-color);
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -5px;
}

.head .icons img {
  width: 32px;
  height: 32px;
  margin-left: 15px;
}

h1 {
  margin: 20px 20px 40px;
}
h1::before,
h1::after {
  content: "";
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 0;
}
h1::before {
  background-color: white;
  width: 110px;
}

h1::after {
  background-color: black;
  width: 40px;
}

.wrapper {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin: 20px;
}

@media (max-width: 767px) {
  .wrapper {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}

/* Section Welcome */

.welcome {
  overflow: hidden;
}
.welcome .intro img {
  width: 170px;
  margin-bottom: -10px;
}
.welcome .avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 2px solid white;
  padding: 3px;
  box-shadow: 0 0 5px #ddd;
  margin-left: 20px;
  margin-top: -32px;
}
.welcome .body {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.welcome .body > div {
  flex: 1;
}
.welcome .visit {
  margin: 0 15px 15px auto;
  transition: 0.3s;
}
.welcome .visit:hover {
  background-color: var(--blue-alt-color, #0d69d5);
}
@media (max-width: 767px) {
  .welcome .intro {
    padding-bottom: 30px;
  }
  .welcome .avatar {
    margin-left: 0;
  }
  .welcome .body {
  }
  .welcome .body > div:not(:last-child) {
    margin-bottom: 20px;
  }
}

/* Section Quick Draft */
.quick-draft textarea {
  resize: none;
  min-height: 180px;
}
.quick-draft .save {
  margin-left: auto;
  transition: 0.3s;
  cursor: pointer;
}
.quick-draft .save:hover {
  background-color: var(--blue-alt-color, #0d69d5);
}

/* Section Targets */
.targets .targets-row .icon {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}
.targets .details {
  flex: 1;
}
.targets .details .progress {
  height: 4px;
}
.targets .details .progress > span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.targets .details .progress > span span {
  position: absolute;
  bottom: 16px;
  right: -16px;
  color: white;
  padding: 2px 5px;
  border-radius: 6px;
  font-size: 12px;
}
.targets .details .progress > span span::after {
  content: "";
  border-color: transparent;
  border-width: 5px;
  border-style: solid;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}
.targets .details .progress > .blue span::after {
  border-top-color: var(--blue-color, #0075ff);
}
.targets .details .progress > .orange span::after {
  border-top-color: var(--orange-color, #f59e0b);
}
.targets .details .progress > .green span::after {
  border-top-color: var(--green-color, #22c55e);
}
.blue .icon,
.blue .progress {
  background-color: rgb(0, 117, 255, 0.2);
}
.orange .icon,
.orange .progress {
  background-color: rgb(245, 158, 11, 0.2);
}
.green .icon,
.green .progress {
  background-color: rgb(34, 197, 94, 0.2);
}

/* Section Tickets */
.tickets .box {
  width: calc(50% - 10px);
}
@media (max-width: 767px) {
  .tickets .box {
    width: 100%;
  }
}

/* Section News */
.latest-news {
}

.latest-news .news-row {
}
.latest-news .news-row:not(:last-of-type) {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.latest-news .news-row img {
  border-radius: 6px;
  width: 100px;
  margin-right: 15px;
}
.latest-news .news-row .info {
  flex: 1;
}

.latest-news .news-row .info h3 {
  margin: 0 0 5px;
  font-size: 16px;
}
@media (max-width: 767px) {
  .latest-news .news-row {
    display: block;
  }
  .latest-news .news-row .label {
    margin: 10px auto;
  }
}

/* Section Tasks */
.tasks .task-row:not(:last-of-type) {
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #eee;
}

.task-row .info {
  flex: 1;
}
.tasks .done {
  opacity: 0.3;
}
.tasks .done h3,
.tasks .done p {
  text-decoration: line-through;
}

.tasks .delete {
  cursor: pointer;
  transition: 0.3s;
}
.tasks .delete:hover {
  color: var(--red-color, #f44336);
}

/* Section Latest Uploads */

.latest-uploads {
}
.latest-uploads ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.latest-uploads ul li img {
  width: 40px;
  height: 40px;
}

/* Section Last Projects */
.last-project ul::before {
  content: "";
  position: absolute;
  left: 11px;
  width: 2px;
  height: 100%;
  background-color: var(--blue-color, #0075ff);
}
.last-project ul li::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: block;
  background-color: white;
  border: 2px solid white;
  outline:  2px solid var(--blue-color, #0075ff);
  margin-right: 15px;
  z-index: 1;
}
.last-project ul li.done::before {
  content: "";
  background-color: #0075ff;
}
.last-project ul li.current::before {
  content: "";
  animation: change-color 0.8s infinite alternate;
  
}
.last-project .launch-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 140px;
  opacity: .4;
}

/* Section Reminders */
.reminders ul li .key {
  width: 15px;
  height: 15px;
}
.reminders ul li > .blue {
  border-left: 2px solid var(--blue-color, #0075ff);
}
.reminders ul li > .green {
  border-left: 2px solid var(--green-color, #22c55e);
}
.reminders ul li > .red {
  border-left: 2px solid var(--red-color, #f44336);
}
.reminders ul li > .orange {
  border-left: 2px solid var(--orange-color, #f59e0b);
}

/* Section Latest Post */
.latest-post .top > img {
  width: 50px;
  height: 50px;
}

.latest-post .post-content{
  min-height: 170px;
  line-height: 1.8;
}

.latest-post .bottom div{
  cursor: pointer;
  transition: .2s;
}
.latest-post .likes:hover {
  color: var(--red-color, #f44336);
}
.latest-post .comments:hover {
  color: var(--blue-color, #0075ff);
}


/* Section Social Media */
.social-media .box {
  padding-left: 70px;
  
}
.social-media .box i {
  position: absolute;
  top: 0;
  left: 0;
  width: 52px;
  transition: .3s;
}
.social-media .box i:hover {
  transform: rotate(10deg);
}


.social-media .twitter i,
.social-media .twitter a {
  background-color: #1da1f2;
}

.social-media .twitter {
  background-color: rgb(29, 161, 242, 20%) ;
  color: #1da1f2 ;
}
.social-media .facebook i,
.social-media .facebook a {
  background-color: #1877f2;
}

.social-media .facebook {
  background-color: rgb(24, 119, 242, 20%) ;
  color: #1877f2 ;
}
.social-media .youtube i,
.social-media .youtube a {
  background-color: red;
}

.social-media .youtube {
  background-color: rgb(255, 0, 0, 20%) ;
  color: red ;
}
.social-media .linkedin i,
.social-media .linkedin a {
  background-color: #0077b5;
}

.social-media .linkedin {
  background-color: rgb(0, 119, 181, 20%) ;
  color: #0077b5 ;
}

/* Section Projects Table */

.projects {
  
}

.projects .responsive-table {
  overflow-x: auto
}
.projects table {
  min-width: 1000px;
  border-spacing: 0;
}
.projects table thead td{
  background-color: #eee;
  font-weight: bold;
}
.projects table td {
  padding: 15px;
}
.projects table tbody tr:hover td  {
  background-color: #faf7f7;
}
.projects table tbody td {
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  transition: .2s;
}
.projects table tbody td:last-child {
  border-right: 1px solid #eee;

}
.projects table img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 2px;
  background-color: white;
}
.projects table img:not(:first-child){
  margin-left: -20px;
}










/* Animation */
@keyframes change-color {
  from {
    background-color: var(--blue-color, #0075ff);
  }
  to {
    background-color: white;
  }
  
}